{% extends 'theme/theme1/layout.html.twig' %}

{% block body %}

<div class="panel panel-default top-buffer">
    <div class="panel-heading">{{ 'Sale creation'|trans }}</div>
    <div class="panel-body">

        {{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-primary btn-raised" />

    {{ form_end(form) }}


     <p><a href="{{ path('sale_index') }}" class="btn btn-link btn-raised"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ 'Back to the list'|trans }}</a></p>

  </div>
</div>
{% endblock %}
