{% extends 'theme/theme1/layout.html.twig' %}

{% block body %}

<div class="panel panel-default top-buffer">
    <div class="panel-heading">{{ 'Sale'|trans }}</div>
    <div class="panel-body">

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sale.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ sale.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sale.description }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{% if sale.startdate %}{{ sale.startdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End_date</th>
                <td>{% if sale.enddate %}{{ sale.enddate|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('sale_edit', { 'id': sale.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
  </div>
</div>
{% endblock %}
