<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('page_home') }}">It-Fast-Solution</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'page_home' %} class="active"{% endif %}><a href="{{ path('page_home') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li {% if app.request.get('_route') == 'product_index' %} class="active"{% endif %}><a href="{{ path('product_index') }}"><i class="fa fa-th-list" aria-hidden="true"></i> {{ 'Products'|trans }}</a></li>
                    <li {% if app.request.get('_route') == 'sale_index' %} class="active"{% endif %}><a href="{{ path('sale_index') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ 'Selling Leads'|trans }}</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info" aria-hidden="true"></i> {{ 'Info'|trans }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.get('_route') == 'page_about' %} class="active"{% endif %}><a href="{{ path('page_about') }}"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'About'|trans }}</a></li>
                            <li class="divider"></li>
                            <li {% if app.request.get('_route') == 'page_contact' %} class="active"{% endif %}><a href="{{ path('page_contact') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ 'Contact'|trans }}</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-rss" aria-hidden="true"></i> {{ 'Blog'|trans }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('post_index') }}"><i class="fa fa-list" aria-hidden="true"></i>  {{ 'Articles list'|trans }}</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('post_new') }}"><i class="fa fa-plus-square" aria-hidden="true"></i>  {{ 'New article'|trans }}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('page_home') }}" class="btn-fab-mini btn-raised"><i class="flag-icon flag-icon-fr"></i></a></li>
                    <li><a class="btn-fab-mini btn-raised"><i class="flag-icon flag-icon-gb"></i></a></li>
                </ul>
            </div>
        </div>
</div>
