<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('page_home') }}">It-Fast-Solution</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') == 'page_home' %} class="active"{% endif %}><a href="{{ path('page_home') }}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li {% if app.request.get('_route') == 'product_index' %} class="active"{% endif %}><a href="{{ path('product_index') }}"><i class="fa fa-th-list" aria-hidden="true"></i> {{ 'Products'|trans }}</a></li>
                <li {% if app.request.get('_route') == 'sale_index' %} class="active"{% endif %}><a href="{{ path('sale_index') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ 'Selling Leads'|trans }}</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button class="btn btn-link"><span class="flag-icon flag-icon-fr flag-icon-squared"></span></button>
                <button class="btn btn-link" disabled><span class="flag-icon flag-icon-gb flag-icon-squared"></span></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-rss" aria-hidden="true"></i> {{ 'Blog'|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('post_index') }}"><i class="fa fa-list" aria-hidden="true"></i>  {{ 'Articles list'|trans }}</a></li>
                        <li><a href="{{ path('post_new') }}"><i class="fa fa-plus-square" aria-hidden="true"></i>  {{ 'New article'|trans }}</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info" aria-hidden="true"></i> {{ 'Info'|trans }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.get('_route') == 'page_about' %} class="active"{% endif %}><a href="{{ path('page_about') }}"><i class="fa fa-info-circle" aria-hidden="true"></i> {{ 'About'|trans }}</a></li>
                        <li {% if app.request.get('_route') == 'page_contact' %} class="active"{% endif %}><a href="{{ path('page_contact') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ 'Contact'|trans }}</a></li>
                    </ul>
                </li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
